%h1 Editing basecamp credentials 


= simple_form_for(@user, :url => {:controller => :credentials, :action => :update } ) do |f|
  = f.error_notification
  .token 
    = f.input :basecamp_token
  %br
  %p or 
  %br
  .userinfo
    = f.input :basecamp_login
    = f.input :basecamp_password, :as => :string
  .actions
    = f.button :submit


