%h1 Editing basecamp credentials 


= simple_form_for(@user, :controller => :credentials, :action => :update) do |f|
  = f.error_notification
  .token 
    = f.input :basecamp_token
  .userinfo
    = f.input :basecamp_login
    = f.input :basecamp_password
  .actions
    = f.button :submit


